<center>
<section>
<h4><p>Bienvenue sur la motherfucking appli de The Gossip Project by Lille</p></h4>


<p>Voici la liste des Users // Gossips</p>

<div>
  <% @gossipall.each do |e| %>
  <p>  <a href="#"><%= e.user.first_name %> <%= e.user.last_name %> // <%= e.title %> </a></p>

  <%end%>
</div>


</section>
</center>
